html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent body scrolling */
}

.layout {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Prevent layout scrolling */
}

/* Right content area needs separate scrolling */
.flex-1 {
    overflow-y: auto;
    height: 100vh;
}

main {
    flex: 1;
    padding: 2rem;
}

/* Profile container */
.nav-header .profile-image-container {
    @apply w-24 h-24 overflow-hidden rounded-full transition-all duration-500 ease-in-out;
}